<!DOCTYPE html>
<html layout:decorate="~{fragments/main_layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<div class="container" layout:fragment="content">
    <h1>Open Bank Account</h1>
    <form method="post" th:action="@{/bankaccount}">
        <div class="form-group">
            <label for="customerId">Customer Id</label>
            <input class="form-control" id="customerId" name="customerId" type="input"/>
        </div>
        <div class="form-group">
            <label for="inputType">Type</label>
            <input class="form-control" id="inputType" name="type" type="input"/>
        </div>
        <div class="form-group">
            <label for="balance">Balance</label>
            <input class="form-control" id="balance" name="balance" type="input"/>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit">
        </div>
    </form>
    <h1>All Bank Accounts</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>CustomerId</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bankAccount : ${bankaccounts}">
            <td th:text="${bankAccount.id}"></td>
            <td th:text="${bankAccount.customerId}"></td>
            <td th:text="${bankAccount.type}"></td>
            <td th:text="${bankAccount.balance}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/bankaccount/deposit/{id}(id=${bankAccount.id})}">Deposit</a>
                <a class="btn btn-warning" th:href="@{/bankaccount/withdraw/{id}(id=${bankAccount.id})}">Withdraw</a>
                <form class="form-inline" method="POST" onsubmit="return confirm('Are you sure you want to delete ?');"
                      style="display: inline;" th:action="@{/bankaccount/delete/{id}(id=${bankAccount.id})}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>